/*
margin corresponde ao espaçamento externo da caixa em que o elemento está até os
cantos da página

padding corresponde ao espaçamento interno do elemento em relação à sua própria caixa

background corresponde ao fundo, no qual é possível colocar uma cor sólida única
ou em gradiente

box-sizing: content-box não é uma boa prática, pois
ao aumentarmos uma imagem, por exemplo, ou qualquer outro 
elemento, o que ocorre é que a CAIXA DE CONTEÚDO (em que
o elemento está) aumenta e não ele em si, causando possíveis
distorções. O ideal é utilizar box-sizing: border-box

Utilizar o site: https://cssgradient.io/
*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

}

#menu {
    display: flex;
    /*Selecionar o layout flexbox*/
    list-style: none;
    /*Tirar as bolinhas de cada item da lista */
    padding: 25px;
    justify-content: center;
    margin-bottom: 25px;
}

#menu a {
    color: rgb(255, 255, 255);
    /* Aplicar uma cor à fonte */
    font-family: 'Josefin Sans', sans-serif;
    /* Aplicar uma fonte */
    font-size: 15px;
    /* Aumentar o tamanho da fonte */
    text-decoration: none;
    /*Tirar o sublinhado do link*/
    flex-direction: row;
    /* Alinhar um ao lado do outro */
    margin: 20px;
    /* Atribuir uma margin a cada item */
    text-transform: uppercase;

}

/* Ao passar o mouse */
#menu a:hover {
    color: rgb(188, 90, 198);
}


header {
    background: rgb(8, 7, 7);
    background: linear-gradient(0deg, rgba(8, 7, 7, 1) 2%, rgba(8, 3, 29, 1) 12%);
    padding-bottom: 20px;

}

.apresentacao {
    display: flex;
    height: 330px;

}

h1 {

    color: rgb(183, 184, 199);

}

h2 {
    font-size: 22px;
    color: rgb(183, 184, 199);
    font-family: 'Josefin Sans', sans-serif;
    line-height: 170%;
    /* Define a altura da linha em relação à próxima */

}

h3 {

    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(183, 184, 199);
    background: rgb(8, 7, 7);
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;

}

h4{


text-align: center;
font-size: 30px;
margin-bottom: 20px;

}

.containersobreMim p{

font-size: 20px;
margin-left: 5px;

}

.right {
    flex: 4;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;

}

.left {
    margin-left: 160px;
    margin-right: 190px;
    flex: 6;
    text-align: center;
}

.left img {

    margin-top: 50px;

}

.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px;
    border-radius: 5px;

}


.btnContact {
    background: rgb(234, 213, 254);
    color: black;
    margin-top: 10px;

}

.btnContact:hover {
    background: rgb(62, 6, 116);
    color: white;

}

.containerservicos {

    background: rgb(8, 7, 7);
    display: flex;
    justify-content: center;
    padding: 50px;

}

.itemServico1,
.itemServico3,
.itemServico6,
.itemServico8 {

    border: 1px solid purple;
    border-radius: 20px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 30%;
}

.itemServico2,
.itemServico4,
.itemServico5,
.itemServico7 {

    border: 1px solid blue;
    border-radius: 20px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 30%;
}

.itemServico1:hover,
.itemServico3:hover,
.itemServico6:hover,
.itemServico8:hover {

    border: 1px solid rgb(22, 2, 34);
    background: rgb(146, 104, 155);
    cursor: pointer;
}

.itemServico2:hover,
.itemServico4:hover,
.itemServico5:hover,
.itemServico7:hover {

    border: 1px solid rgb(14, 14, 94);
    background: rgba(50, 64, 145, 0.856);
    cursor: pointer;

}

.itemServico6 h1 {

    margin-top: 25px;

}

.containerservicos img {

    width: 64px;

}

.containersobreMim {

    align-items: center;
    display: flex;
    background: rgb(8, 7, 7);
    color: aliceblue;
    padding-bottom: 50px;

}

.containersobreMim .left {

    text-align: left;
    padding-right: 18px;
    padding-left: 18px;
    flex: 7;
    line-height: 30px;

}

.containersobreMim .right {

    flex: 3;

}

#sobreMim {

    background: rgb(8, 7, 7);
    padding-top: 10px;
    padding-bottom: 10px;

}

.Socialmedia{

align-items: center;
display: flex;

}

.Socialmedia a{

text-decoration: none;
color: white;

}

.Socialmedia p:hover{

color: blue;

}

.Socialmedia img:hover{

transform: scale(1.06);

}