@media screen and (max-width: 480px) {

    .apresentacao {

        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .left img {

        width: 200%;
        margin-bottom: 24px;

    }

    .left h4{

        text-align: center;

    }


    .right h2 {

        font-size: 18px;
        text-align: center;

    }

     .right img{

       padding-top: 20px;
      

    }

    .containersobreMim {
        flex-direction: column;
    }

    .containersobreMim .left{

        width: 95%;
        margin-left: auto;

    }

    .containersobreMim .right {

        width: 75%;
        margin-right: auto;
        margin-left: auto;

    }

    .containerservicos{

        flex-direction: column;
        width: 900px;

    }

    .containerservicos h1{

        font-size: 16px;

    }

    .servicos h3{

        font-size: 16px;

    }

    .displayContato {

        flex-direction: column;

    }

    .Mensagem{

        text-align: left;

    }

    #mensagem{

        width: 250px;

    }

    .Mapa{

        margin-left: 0px;
        margin-top: 50px;

    }
    
}